/* ----- FONTS ----- */

.noto-serif-display {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* ----- BODY ----- */

body{
    background-color: #f5f4ec;
    margin: 0px;
    padding: 0px;
}

/* ----- HEADER ----- */

.header{
    background-color: #44684b;
    padding: 16px 420px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-basis: 120px;
}

.headLogo{
    display: flex;
    flex:1 0 100px;
    max-width: 200px;
    align-items: center;
}
.headNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
}

a{
    text-decoration: none;
    color: #f5f4ec;
    transition: 0.5s;
}

.headNav a:hover{
    color: #E0B258;
    transition: 0.5s;
}

.headNav a:active{
    color: #E0B258;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
}

/* ----- HERO ----- */

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    background-color: #2b4731;
}
.hero img{
    border-radius: 12px;
    max-width: 520px;
    transition: 0.5s;
}
.hero img:hover{
    scale: 102%;
    transition: 0.5s;
}

.heroInfo{
    display: flex;
    flex-direction: column;
    flex:0 0 420px;
    gap: 24px;
    justify-content: space-between;
}
.hero h1{
    font-family: "Noto Serif Display", serif;
    color: #f5f4ec;
    font-weight: 700;
    margin:0;
}
.heroInfo p{
    font-family: "Inter", sans-serif;
    color: #f5f4ec;
    margin:0;
}
.heroButton{
    border: 8px;
    border-color: #f5f4ec;
    background-color: #E0B258;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;
}

.heroButton:hover{
    background-color: #fefc7e;
    border: 12px;
    font-size: 16px;
    padding: 12px;
    transition: 0.5s;
}

.heroButton a{
    color:#44684b;
}

/* ----- CAROUSEL ----- */

.carousel{
    margin: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.carInfo{
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.carInfo img{
    border: 4px solid #44684b;
    border-radius: 12px;
    width: 60%;
    height: 60%;
    object-fit: cover;
    transition: 0.5s;
}

.carInfo img:hover{
    scale: 102%;
    transition: 0.5s;
}

.carText{
    margin-top: 10px;
    font-family: "Inter",sans-serif;
    text-align: center;
    color: #2b4731;
}

.carButton{
    border: 2px;
    border-color: #f5f4ec;
    background-color: #a3342e;
    font-family: "Inter", sans-serif;
    color:#34343c;
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    transition: 0.5s;
}

.carButton:hover{
    border: 4px;
    background-color: #df5c55;
    font-size: 14px;
    padding: 16px;
    border-radius: 10px;
    transition: 0.5s;
}

/* ----- QUOTE ----- */

.quote{
    background-color: #a3342e;
    color: #f5f4ec;
    padding: 54px 520px;
    font-family: "Noto Serif Display", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 400px;
}
.qText{
    display: flex;
    font-size: 20px;
    flex-shrink: 0;
    align-self: center;
    max-width: 800px;
    min-width: 260px;
}
.qSignature{
    display: flex;
    flex-shrink: 0;
    font-weight: 700;
    align-self: flex-end;
    min-width: 360px;
}

/* ----- CTA ----- */

.cta{
    margin: 3% 30%;
    border-radius: 12px;
    padding: 32px 72px;
    background-color: #E0B258;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctaButton{
    border: 8px;
    border-color: #f5f4ec;
    background-color: #44684b;
    font-family: "Inter", sans-serif;
    color:#34343c;
    font-size: 12px;
    font-weight: 600;
    padding: 16px;
    border-radius: 8px;
    transition: 0.5s;
}
.ctaButton:hover{
    border: 12px;
    background-color: #a3342e;
    font-size: 14px;
    padding: 18px;
    border-radius: 12px;
    transition: 0.5s;
}

.ctaInfo{
    font-family: "Inter",sans-serif;
    color: #2b4731;
}
.ctaInfo h4{
    margin: 0;
    font-size: 22px;
}
.ctaInfo p{
    margin: 0;
}

/* ----- FOOTER ----- */

.footer{
    background-color: #44684b;
    color: #f5f4ec;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:auto;
    font-family: "Noto Serif Display";
    font-weight: bold;
}

/* ----- WORK / PAGE ----- */
/* ----- TITLE ----- */
.workTitleText{
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workTitleText h1{
    font-family: "Noto Serif Display", serif;
    color: #44684b;
    font-weight: 700;
    margin:0;
}
.workTitleText p{
    font-family: "Inter", sans-serif;
    color: #44684b;
    margin:0;
}

/* ----- MOSAIC ----- */
.containerWorkMosaic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    max-width: 1080px;
    margin: 0 auto;
}
.tileWork img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.tileWork img:hover{
    width: 100.5%;
    height: 100.5%;
    object-fit: cover;
    transition: 0.5s;
}

/* ----- ABOUT PAGE ----- */

.aboutTitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 5% 2%;
}

.aboutInfo{
    display: flex;
    flex-direction: column;
    margin: 0% 18%;
    line-height:25px;
}


.aboutTitle h1{
    font-family: "Noto Serif Display", serif;
    color: #44684b;
    font-weight: 700;
    margin:0;
}
.aboutTitle p{
    font-family: "Inter", sans-serif;
    color: #44684b;
    margin:0;
}

.aboutInfo h2{
    font-family: "Noto Serif Display", serif;
    color: #44684b;
    font-weight: 700;
    margin:0;
}

.aboutInfo p{
    font-family: "Inter", sans-serif;
    color: #44684b;
    margin:0;
}

.aboutTitle img{
    margin-top: 20px;
    max-width: 150px;
    border-radius: 24px;
    align-self: center;
    transition: 0.5s;
}
.aboutTitle img:hover{
    scale: 102%;
    transition: 0.5s;
}
